<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login page</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <base href="/" />
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript"
            src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="mainCtrl">
<h1>Login</h1>
<label>Username</label><input ng-model="data.username"/>
<label>Password</label><input type="password" ng-model="data.password"/>
<a href="#" ng-click="login()">Login</a>
<script type="text/javascript" src="/webjars/angularjs/angular.min.js"></script>
<script type="text/javascript">
    var app = angular.module('myApp', ["ngResource","ngRoute","ngCookies"]);
    app.controller('mainCtrl',
            function($scope, $resource, $http, $httpParamSerializer, $cookies) {

                $scope.data = {
                    grant_type:"password",
                    username: "",
                    password: "",
                    client_id: "myclient"
                };
                $scope.encoded = btoa("myclient:myclientsecret");

                $scope.login = function() {
                    var req = {
                        method: 'POST',
                        url: "http://localhost:9999/uaa/oauth/token",
                        headers: {
                            "Authorization": "Basic " + $scope.encoded,
                            "Content-type": "application/x-www-form-urlencoded; charset=utf-8"
                        },
                        data: $httpParamSerializer($scope.data)
                    }
                    $http(req).then(function(data){
                        $http.defaults.headers.common.Authorization =
                                'Bearer ' + data.data.access_token;
                        $cookies.put("access_token", data.data.access_token);
                        window.location.href="index";
                    });
                }
            });
</script>
</body>
</html>